*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
body{
    background: #232322;
    color: #fff;
    
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/Frame\ 316.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FFA500;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.logo{
    width: 140px;
}
.header-text{
    margin-top: 20%;
    font-size: 40px;
}
.header-text h1{
    font-size: 70px;
    margin-top: 20px;
    font-weight: 900;
}
.header-text h1 span{
color: #FFA500;
}
.sub-tittle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
#about{
    padding: 60px 0;
    color: #ffffff;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
}
.about-col-2{
    flex-basis: 60%;
}
.tab-contents.active-tab ul li:hover{
   
    transform: translateY(-5px);
}
.tab-tittles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FFA500;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #FF8C00;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


/* ----------services----------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #282828;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 40px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #043071;
    transform: translateY(-10px);
}
   

/* ---------------portfolio---------------- */

#portfolio{
    padding: 50px 0;
}
.work-list{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap: 40px;
margin-top: 50px;
}
.work{
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: tranform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #FF8C00);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    gap: 5px;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: larger;
}
.layer a{
    margin-top: 20px;
    color: #FF8C00;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #043071;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #043071;
}

/* -----------contact-------------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
margin-top: 30px;
}
.contact-left p i{
    color: #FF8C00;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #043071;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #043071;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
padding: 14px 60px;
font-size: 18px;
margin-top: 20px;
cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}

/* ---------reponsive------------ */

nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/Frame\ 318.png);
    }
    .header-text{
        padding-top: 50%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
        margin-top: 100%;
    }
    .header-text h1 span{
        color: #FF8C00;
    }
    nav .fa-solid{
    display: block;
    font-size: 25px;
}
nav ul{
    background: #043071;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 200vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 1s;
}
nav ul li{
    display: block;
    margin: 25px;
}
nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.sub-tittle{
    font-size: 40px;
}
.about-col-1, .about-col-2{
    flex-basis: 100%;
}
.about-col-1{
    margin-bottom: 30px;
}
.about-col-2{
    font-size: 14px;
}
.tab-links{
    font-size: 16px;
    margin-right: 20px;
}
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

}
#scrollTopBtn {
      position: fixed;
      bottom: 100px;
      right: 50px;
       width: 70px;
      height: 70px;
      z-index: 100;
      background-color: #FF8C00;
      color: white;
      border: none;
      outline: none;
      padding: 15px;
      border-radius: 50%;
      cursor: pointer;
      font-size: 30px;
      display: none;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      transition: opacity 0.3s;
    }

    #scrollTopBtn:hover {
      background-color: #FFA500;
    }
    #header2{
        background-image: url(images/Frame\ 307.png);
        
    }






            /* ------------vntrade------------ */
#header-vntrade{
    width: 100%;
    height: 100vh;
    background-image: url(images/Mouckup_08.png);
    background-size: cover;
    background-position: center;
    position: relative;
    object-fit: cover;
}
#introduction{
    padding: 60px 0;
    color: #ffffff;
}
.sub-work{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.p{
    font-size: 25px;
    font-weight: 300;
    color: #fff;
}
/* ----------typo----------- */
.typo-col-1{
    flex-basis: 40%;
}
#typo{
    padding: 60px 0;
    color: #ffffff;
}
.typo-col-2{
    flex-basis: 60%;
}
/* --------color------------ */
#color{
    padding: 60px 0;
    color: #ffffff;
}
.color-1{
    flex-basis: 40%;
}
.color-2{
    flex-basis: 60%;
}
/* --------grid------------ */
#grid{
    padding: 60px 0;
    color: #ffffff;
}
.grid-1{
    flex-basis: 40%;
}
.grid-2{
    flex-basis: 60%;
}
/* --------icons------------ */
#icon{
    padding: 60px 0;
    color: #ffffff;
}
.icon-1{
    flex-basis: 40%;
}
.icon-2{
    flex-basis: 60%;
}
/* -----------sitemap------------- */
#sitemap{
    padding: 60px 0;
    color: #ffffff;
}
.sitemap-1{
    flex-basis: 40%;
}
.sitemap-2{
    flex-basis: 60%;
}
.marquee-wrapper {
      width: 100%;
      overflow: hidden;
      background-color: #031634;
      padding: 15px 0;
    }

    .marquee-content {
      display: inline-block;
      white-space: nowrap;
      animation: marquee 10s linear infinite;
    }

    .marquee-content span {
      font-family: 'oxanium', sans-serif;
      font-size: 30px;
      font-weight: 600;
      color: #fff;
      margin-right: 100px;
    }
    @keyframes marquee {
      0%   { transform: translateX(-100%); }
      100% { transform: translateX(100%); }
    }
    .neon-img {
      width: 100%;
      transition: 0.4s ease;
      border-radius: 10px;
    }

    .neon-img:hover {
      box-shadow:
        0 0 10px #000f96,
        0 0 20px #000f96,
        0 0 30px #000f96,
        0 0 40px #000f96;
      transform: scale(1.05);
    }
     /* ------------reponsive-------------- */
     @media only screen and (max-width: 600px){
        #header-vntrade{
            background-image: url(images/Mouckup_08\ mobilee.png);
            width: 100%;
    height: 40vh;
        }
        .sub-work{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}
.p{
    font-size: 12px;
    font-weight: 200;
    color: #fff;
}

     #typo{
    padding: 10px 0;
    color: #ffffff;
}
#introduction{
    padding: 10px 0;
    color: #ffffff;
}
#color{
    padding: 10px 0;
    color: #ffffff;
}
#grid{
    padding: 10px 0;
    color: #ffffff;
}
#icon{
    padding: 10px 0;
    color: #ffffff;
}
#scrollTopBtn {
      position: fixed;
      bottom: 100px;
      right: 30px;
       width: 50px;
      height: 50px;
      z-index: 100;
      background-color: #FF8C00;
      color: white;
      border: none;
      outline: none;
      padding: 15px;
      border-radius: 50%;
      cursor: pointer;
      font-size: 25px;
      text-align: center;
      display: none;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      transition: opacity 0.3s;
    }
    .neon-img {
      width: 100%;
      transition: 0.4s ease;
      border-radius: 5px;
    }
     .marquee-content span {
      font-family: 'oxanium', sans-serif;
      font-size: 15px;
      font-weight: 600;
      color: #fff;
      margin-right: 50px;
    }
     }


     /* ------------Hoststream------------ */
#header-host{
    width: 100%;
    height: 120vh;
    background-image: url(images/Group\ 113.png);
    background-size: cover;
    background-position: center;
    position: relative;
    object-fit: cover;
}
.sub{
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}
.tittle{
    
    font-size: 40px;
    font-weight: 400;
    color: #fff;
}

/* ------------reponsive-------------- */
     @media only screen and (max-width: 600px){
        #header-host{
            background-image: url(images/host\ mobile.png);
            width: 100%;
    height: 40vh;
        }
    }

    /* ------------Vgear------------ */
#header-vgear{
    width: 100%;
    height: 100vh;
    background-image: url(images/vgear1.png);
    background-size: cover;
    background-position: center;
    position: relative;
    object-fit: cover;
}
.sub-work1{
    font-size: 80px;
    font-weight: 700;
    color: #3DC2EC;
}
.content{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}
.game-card img {
      width: 250px;
      height: 350px;
      border-radius: 12px;
      object-fit: cover;
}
.game-title {
      font-size: 18px;
      margin: 10px 0 4px;
      font-weight: bold;
    }

    .game-publisher {
      font-size: 14px;
      color: #bbb;
    }
    .game-card {
      background: #0a1a2f;
      padding: 40px;
      border-radius: 16px;
      text-align: center;
      box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;
    }
    .game-container {
      display: flex;
      justify-content: center;
      gap: 80px;
      padding: 20px;
    }
    .neon:hover {
      box-shadow:
        0 0 10px #000f96,
        0 0 20px #000f96,
        0 0 30px #000f96,
        0 0 40px #000f96;
      transform: scale(1.05);
    }
    /* ------------reponsive-------------- */
     @media only screen and (max-width: 600px){
        #header-vgear{
            background-image: url(images/vgearmobile.png);
            width: 100%;
    height: 30vh;
        }
        .sub-work1{
    font-size: 40px;
    font-weight: 650;
    text-align: center;
    color: #3DC2EC;
}
.content{
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: #fff;
}
.game-card img {
      width: 130px;
      height: 130px;
      border-radius: 10px;
      object-fit: cover;
}
.game-title {
      font-size: 10px;
      margin: 10px 0 4px;
      font-weight: bold;
    }

    .game-publisher {
      font-size: 8px;
      color: #bbb;
    }
    .game-card {
      background: #0a1a2f;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;
    }
    .game-container {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding:10px;
    }
    }
